.filter-section {
      @include flex-col(4rem, start, start);
      margin-top: 1rem;
}

.filter-section p {
      @include font(1.5rem, $color_green, normal);
      letter-spacing: 2PX;
      align-self: center;

}

.filter-buttons {
      @include flex-row(1rem, start, start, wrap);
      // margin-bottom: 3rem;
}

.cta {
      position: relative;
      transition: all 0.2s ease;

}

.cta:before {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      display: block;
      border-radius: 5rem;
      @include size(2rem, 2rem, var(--background_circle));
      transition: all 0.3s ease;

}

.cta span {
      position: relative;
      letter-spacing: 0.05em;
      font-size: 1rem;
      font-weight: 400;

}

.cta:hover:before,
.cta.selected:before {
      width: 100%;
      position: absolute;
      background: var(--background_circle_hover)
}

.cta:active {
      transform: scale(0.95);
}

.filter-section select {
      @include size(70%, 2.5rem, var(--background_circle));
      border-radius: 2rem;
      padding-right: 1rem;
      // margin: 0 5px 10px;
}

.filter-section select:hover {

      @include size(70%, 2.5rem, var(--background_circle_hover));

}

.filter-group {
      @include flex-row(1rem, start, start, wrap);
      align-content: start;
      margin-bottom: 1rem;
}





.rangeWrapper {
      @include flex-col(1rem, start, start);
      width: 100%;
      border-radius: 6px;
      justify-self: center;

}

input[type='range'] {
      -webkit-appearance: none;
      @include size(100%, 0.5rem, var(--trackColor));
      margin: 0;
      padding: 0;
      // background: var(--trackColor);
      -webkit-transition: .2s;
      transition: opacity .2s;
}


input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include size(1rem, 1rem, $color_green);
      border-radius: 50%;
      cursor: ew-resize;
      position: relative;
      transition: 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
      box-shadow: 0px 0px 0px 8px $color_green_light;
      transition: 0.3s ease-in-out;
}

.rangeWrapper span {
      @include font(1.5rem, $color_green, bold);
      letter-spacing: 0.05em;
}


.submit {
      @include flex-row();
      @include size(70%, 3rem, var(--background_circle));
      margin-bottom: 3rem;
      border-radius: 1.5rem;
      padding-right: 0.5rem;
      letter-spacing: 3px;
}

.submit:hover,
.submit:active {

      background-color: var(--background_circle_hover);
}