.filter-section {
      @include flex-col(2rem, start, start)
}

.filter-buttons {
      @include flex-row(1rem, start, start, wrap);
      align-content: start;
      margin-bottom: 1rem;
}

.filter-section input,
.filter-section input::placeholder {
      height: 1.5rem;
}

.cta {
      position: relative;
      transition: all 0.2s ease;

}

.cta:before {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      display: block;
      border-radius: 5rem;
      width: 2rem;
      height: 2rem;
      background-color: var(--background_circle);
      // @include size(2rem, 2rem, $background_second);
      transition: all 0.3s ease;

}

.cta span {
      position: relative;
      letter-spacing: 0.05em;
      font-size: 1rem;
      font-weight: 400;

}

.cta:hover:before,
.cta.selected:before {
      width: 100%;
      position: absolute;
      background: $background_third;

}

.cta:active {
      transform: scale(0.95);
}