
.footer {
      margin: $margin_big;
      @include flex-row(0.5rem, space-between, center);
      border-top: 2px solid white ;
     
     
}

.footer-basic {
      @include flex-col(0.5rem, center, center);
      text-shadow: 0 0 10px white ;
      margin-top: 20px;

}

.footer-basic a {
     @include flex-col(0.5rem, center, center);
     display: block;
     padding: 0.2rem;
     
 }

 .logo-bild {
      @include flex-col(0.5rem, center, center);
      
 }
 .logo-bild .logo {
      margin-top: 10px;
      width: 70px;
      height: 70px;
 }

 


