.main {
      // @include flex-row(1rem, center, start);
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 4rem;
      @include size (95vw, auto);
      margin: auto;
      margin-top: $margin_big;
}

.main_container {
      @include size (100%, auto);
      @include flex-row (1.5rem, start, start, wrap);
      padding-left: $margin_big;
}

.main_card {
      @include size (9rem, 18rem);
      @include flex-col (1rem, start, center);
      text-align: center;
      box-shadow: $shadow;
      position: relative;

}



.main_card .image {
      @include size(100%, 80%);
      background-size: cover;
      background-repeat: no-repeat;
}

.main_card img {
      @include size(100%, 100%);
}

.main_card .vote {
      @include size(2rem, 2rem);
      @include font(1rem, $color_primary, normal);
      @include flex(0, center, center, none);
      background-color: $color_green;
      border-radius: 50%;
      @include position (absolute, n, 0.5rem, 0.5rem, n);
}