.main {
      // @include flex-row(1rem, center, start);
      display: grid;
      grid-template-columns: 1fr 3fr;
      @include size (95vw, auto, $background-primary);
      margin: auto;
      margin-top: $margin_big;
}

.main_container {
      @include size (100%, auto, $background-primary);
      @include flex-row (1.5rem, end, center, wrap);
      padding-left: $margin_big;
}

.main_card {
      @include size (9rem, 18rem, $background-primary);
      @include flex-col (1rem, start, center);

      text-align: center;
      box-shadow: $shadow
}

.main_card img {
      @include size (100%, auto, cover);
}