.smallCardBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.smallCardBox img {
  @include size(100%, auto, cover);
  @include grid-area-num(1, 3, 1, 2);
}

.smallCardBox h4 {
  @include grid-area-num(1, 2, 2, 4);
  align-self: flex-start;
  margin-left: 1rem;
  color: $color_secondary;
}

.smallCardBox .rating {
  @include grid-area-num(2, 3, 2, 3);
  align-self: flex-start;
  margin-left: 1rem;
  color: $color_green;
  font-weight: bold;

}

.smallCardBox .years {
  @include grid-area-num(2, 3, 3, 4);
  align-self: flex-start;
  margin-left: 1rem;
  color: $color_gray;
}

.smallCardBox:hover {
  cursor: pointer;
  background-color: $background_hover;
}

.smallCardBox:hover h4 {
  color: $color_orange;
}