@use '../base/variables.scss' as *; 
@use '../base/settings.scss' as *;
@use '../base/mixins.scss' as *;

.watchListCard {
  position: relative;

  @include size(60vw, auto, 'none');

  margin: 3rem auto;
  padding: 0 1rem 1rem 0;
  font-weight: 100;

  border-radius: 10px;
  box-shadow: var(--shadow);


  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 6rem 3rem repeat(3, 6rem);
  gap: 1rem;
}

.watchListCard img {
  grid-column: 1 / 2;
  width: 75%;
  min-width: 15rem;
  border-radius: 10px 0 0 0;
}

.watchListCard .nameBox {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  margin-top: 2rem;
  @include font(1.5rem, inherit, 'bold');
  @include flex-row(1.5rem, start, start);
}

.nameBox p {
  font-weight: bold;
  color: $color_green;
}

.nameBox h3 {
  margin-right: auto;
}

.nameBox span {
  justify-self: end;
  @include font(medium, $color_orange, 100);
}

.watchListCard .onAir {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  // margin-left: 1rem;
  @include font(1.2rem, inherit, bold);

}

.watchListCard .overview {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  line-height: 1.4rem;
}

.episodes {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  font-weight: bold;
  align-self: end;

}

.episodes p {
  display: inline;
  margin-right: 1.5rem;

}

.radiobuttons {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  height: 3rem;
  @include flex-row(1rem, space-around, start);
  margin-left: 1rem;
  border: 1px solid $color_orange;
  align-self: start;
  justify-self: center;
}

.radiobuttons input {
  margin: 1rem;
}

.status {
  grid-column: 1 / span 1;
  grid-row: 4/5;
  justify-self: center;
  align-self: end;
  color: $color_green;
  font-weight: bold;
}

.seasons {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  justify-self: center;
  align-self: start;

  color: $color_orange;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 1rem;
}

.seasonsBox {
  @include size(0, 0, $background_third);
  opacity: 0;

  @include position (fixed, 50%, 50%, n, n);
  z-index: 10;

  padding: 1rem;

  transform: translate(-50%, -50%);
  transition: 1s all ease-in-out;

  pointer-events: none;
}

.seasonsBox h3 {
  @include font(1.5rem, $color_secondary, bold);
  text-align: center;
  margin-bottom: 2rem;
}

.seasonsBox.visible {
  @include size(300px, 400px, $background_third);
  opacity: 1;

  overflow-y: scroll;
  pointer-events: auto;
}

.curtain {
  @include size(100vw, 100vh, $color_secondary);
  opacity: 0.8;
  z-index: 9;
  @include position (fixed, 0, 0, 0, 0);
  transition: 1s all ease-in-out;
}

.seasonsBox ul {
  @include font (inherit, $color_orange, bold);
  // transition: 1s all ease-in-out;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

.seasonsBox ul li {
  margin-left: 1rem;
  color: $color_secondary;
  font-weight: normal;
  transition: 1s all ease-in-out;

  grid-column: 1 / span 2;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;

  max-height: 2rem;
  opacity: 1;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

.seasonsBox ul label,
.seasonsBox li label {
  grid-column: 1;
}

.seasonsBox ul input,
.seasonsBox li input {
  grid-column: 2;
  justify-self: start;
}

.seasonsBox ul li.strikethrough {
  text-decoration: line-through;
  max-height: 0;
  opacity: 0;

}