@use './base/variables.scss' as *; 
@use './base/settings.scss' as *;
@use './base/mixins.scss' as *;
@use './components/Header.scss' as *;
@use './components/FilterBy.scss' as *;
@use './components/LogIn.scss' as *;
@use './components/SmallCard.scss' as *;
@use './components/BigCard.scss' as *;
@use './components/WatchListCard.scss' as *;
@use './components/Main.scss' as *;
@use './components/ActorCard.scss' as * ;
@use './components/Footer.scss' as *;

body {
  display: flex;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;

}