@import './base/variables.scss';
@import './base/settings.scss';
@import './base/mixins.scss';
@import './components/Header.scss';
@import './components/FilterBy.scss';
@import './components/LogIn.scss';
@import './components/SmallCard.scss';
@import './components/BigCard.scss';
@import './components/WatchListCard.scss';
@import './components/Main.scss';
@import './components/ActorCard.scss';
@import './components/Footer.scss';

body {
  display: flex;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;

}