@import '_variables.scss';
@import 'mixins.scss';

* {
      margin: 0;
      padding: 0;
      border: 0;

      box-sizing: border-box;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      // color: $color_primary;
}

[data-theme="light"] {
      background-color: $color_primary;
      color: $background_primary;
      --background_circle: var(--filterCircleColorLight);
      --background_circle_hover: var(--filterCircleColorLightHover);
      --headerBackground: var(--filterCircleColorLight);
      --dropDownBackground: var(--filterCircleColorLightHover);
      --shadow: 6px 6px 12px #47312d,
            -6px -6px 12px #dab68d33;
      --trackColor: rgb(143, 144, 150);
}

[data-theme="dark"] {
      background-color: $background_primary;
      color: $color_primary;
      --background_circle: var(--filterCircleColorDark);
      --background_circle_hover: var(--filterCircleColorDarkHover);
      --headerBackground: var(--filterCircleColorDark);
      --dropDownBackground: var(--filterCircleColorDarkHover);
      --shadow: 6px 6px 12px #170303,
            -6px -6px 12px #8d98da33;
      --trackColor: rgba(255, 255, 255, 0.87);
}


a,
a:active,
a:visited,
label,
textarea,
textarea::placeholder,
input,
input::placeholder,
button,
select {
      text-decoration: none;
      color: inherit;
      font: inherit;
}

textarea,
input,
input:active,
input:focus,
select,
select:active,
select:focus,
button {
      outline: none;

      padding: 0.5rem;
      padding-left: 1rem;

      border: none;
      border-radius: 1rem;

}

a:hover,
button:hover,
select:hover,
label:hover {
      cursor: pointer;
      scale: 1.05;
}


ul li {
      list-style-type: none;
}

button {
      background: none;
}