$background_primary: #242424;
$background_second: rgb(62, 62, 181);
$background_third: rgb(189, 189, 247);
$background_hover: rgb(206, 206, 248);

$color_primary: rgba(255, 255, 255, 0.87);
$color_secondary: rgb(20, 20, 60);
$color_green: rgb(54, 188, 54);
$color_gray: rgb(88, 90, 97);
$color_orange: rgb(255, 136, 0);


$margin_big: 2rem;